[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Gerrit libModule to cache access to Git repositories' refdb
[access "refs/*"]
	owner = group GerritForge-cached-refdb
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-cached-refdb
	label-Verified = -1..+1 group GerritForge-cached-refdb
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-cached-refdb
	removeReviewer = group GerritForge-cached-refdb
	submit = group GerritForge-cached-refdb
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
